<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nimgade.pk.mytutorialapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="activities.list.first.TestActivity"
            android:label="@string/title_activity_test"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nimgade.pk.mytutorialapplication.MainActivity" />
        </activity>
        <activity
            android:name="activities.list.first.JustifyAlignmentActivity"
            android:label="@string/title_activity_justify_alignment"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nimgade.pk.mytutorialapplication.MainActivity" />
        </activity>
        <activity
            android:name="activities.list.first.DraggingViewsActivity"
            android:label="@string/title_activity_draging_views">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nimgade.pk.mytutorialapplication.MainActivity" />
        </activity>
        <activity
            android:name="activities.list.first.DroppingViewActivity"
            android:label="@string/title_activity_dropping_view" />
        <activity
            android:name="activities.list.first.CustomListViewActivity"
            android:label="@string/title_activity_custom_list_view"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nimgade.pk.mytutorialapplication.MainActivity" />
        </activity>
        <activity
            android:name="activities.list.first.LoadDataActivity"
            android:label="@string/title_activity_load_data">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nimgade.pk.mytutorialapplication.MainActivity" />
        </activity>
        <activity
            android:name="activities.list.first.NoteListActivity"
            android:label="@string/title_activity_note_list"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nimgade.pk.mytutorialapplication.MainActivity" />
        </activity>
        <activity
            android:name="activities.list.first.NoteEditActivity"
            android:label="@string/title_activity_note_edit" />
        <activity
            android:name="activities.list.first.DragTestActivityActivity"
            android:label="@string/title_activity_drag_test"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nimgade.pk.mytutorialapplication.MainActivity" />
        </activity>
        <activity
            android:name="network.calls.activities.NetworkCallListActivity"
            android:label="@string/title_activity_network_call_list"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nimgade.pk.mytutorialapplication.MainActivity" />
        </activity>
        <activity
            android:name="activities.list.first.SharedPreferencesActivity"
            android:label="@string/title_activity_shared_prefrences"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nimgade.pk.mytutorialapplication.MainActivity" />
        </activity>
        <activity
            android:name="network.calls.activities.PostRequestActivity"
            android:label="@string/title_activity_post_request"
            android:parentActivityName="network.calls.activities.NetworkCallListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="network.calls.activities.NetworkCallListActivity" />
        </activity>
        <activity
            android:name="loaders.test.activities.LoadersListActivity"
            android:label="@string/title_activity_loaders_list"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nimgade.pk.mytutorialapplication.MainActivity" />
        </activity>
        <activity
            android:name="loaders.test.activities.LoaderTestOneActivity"
            android:label="@string/title_activity_loader_test_one"
            android:parentActivityName="loaders.test.activities.LoadersListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="loaders.test.activities.LoadersListActivity" />
        </activity>
        <activity
            android:name="listview.test.activities.ListViewTestOneActivity"
            android:label="@string/title_activity_list_view_test_one"
            android:parentActivityName="listview.test.activities.ListViewListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="listview.test.activities.ListViewListActivity" />
        </activity>
        <activity
            android:name="activities.list.first.TestLayoutActivity"
            android:label="@string/title_activity_test_layout"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nimgade.pk.mytutorialapplication.MainActivity" />
        </activity>
        <activity
            android:name="listview.test.activities.ListViewListActivity"
            android:label="@string/title_activity_listv_view_list"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nimgade.pk.mytutorialapplication.MainActivity" />
        </activity>
        <activity
            android:name="listview.test.activities.CustomListViewActivity"
            android:label="@string/title_activity_custom_list_view"
            android:parentActivityName="listview.test.activities.ListViewListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="listview.test.activities.ListViewListActivity" />
        </activity>
        <activity
            android:name="services.list.activity.ServicesListActivity"
            android:label="@string/title_activity_services_list"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nimgade.pk.mytutorialapplication.MainActivity" />
        </activity>
        <activity
            android:name="services.list.activity.ServiceTestOneActivity"
            android:label="@string/title_activity_service_test_one"
            android:parentActivityName="services.list.activity.ServicesListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="services.list.activity.ServicesListActivity" />
        </activity>

        <service
            android:name="services.list.activity.ServiceTestOneActivity$MyServiceTestOne"
            android:exported="false" />

        <activity
            android:name="activities.list.first.RandomTestActivity"
            android:label="@string/title_activity_random_test"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nimgade.pk.mytutorialapplication.MainActivity" />
        </activity>
        <activity
            android:name="activities.list.first.ExampleOneActivity"
            android:label="@string/title_activity_example_one"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nimgade.pk.mytutorialapplication.MainActivity" />
        </activity>
        <activity
            android:name="spinner.list.activities.SpinnerListActivity"
            android:label="@string/title_activity_spinner_list"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nimgade.pk.mytutorialapplication.MainActivity" />
        </activity>
        <activity
            android:name="spinner.list.activities.SpinnerTestOneActivity"
            android:label="@string/title_activity_spinner_test_one"
            android:parentActivityName="spinner.list.activities.SpinnerListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="spinner.list.activities.SpinnerListActivity" />
        </activity>
        <activity
            android:name="services.list.activity.ServiceTestTwoActivity"
            android:label="@string/title_activity_service_test_two"
            android:parentActivityName="services.list.activity.ServicesListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="services.list.activity.ServicesListActivity" />
        </activity>

        <service
            android:name="services.list.activity.ServiceTestTwoActivity$HelloService"
            android:exported="false" />

        <activity
            android:name="spinner.list.activities.SpinnerTestTwoActivity"
            android:label="@string/title_activity_spinner_test_two"
            android:parentActivityName="spinner.list.activities.SpinnerListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="spinner.list.activities.SpinnerListActivity" />
        </activity>
    </application>

</manifest>
